div#goal {
    width: calc(100% / 2);
    height: calc(100% / 3);
}

div#before {
    width: calc(100% / 4);
    height: calc(100% / 3);
}

div#game {
    width: calc(100% / 4);
    height: calc(100% / 3);
}