@charset "UTF-8";

#div_full {
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-rows: minmax(100px, auto) 1fr;
}

.iframe_main {
    width: 100%;
    height: 100%;
}

.iframe_child {
    width: 600px;
    height: 400px;
    transform-origin: top left;
    transform: scale(0.5);
    margin-right: -300px;
    margin-bottom: -200px;
}

.iframe_over {
    border: 5px solid red;
}

.iframe_out {
    border: 5px solid grey;
}