@charset "UTF-8";

/*画面全体の構成*/

html, body{
    height: 100%;
    margin: 0;
}

#div_full {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

#div_menu {
    height: auto;
}

div#top {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#title {
    margin: 10pt 20pt;
    display: inline-block;
}

#div_contents {
    flex-grow: 1;
}

body.contents {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 25px 20px 10px 20px;
}

#iframe_main {
    width: 100%;
    height: 100%;
    border: none;
}

/*ドロップダウンメニュー*/

.ul_menuBar {
    margin: 0;
    padding: 0 15px 0 15px;
    top: 50%;
    display: flex;
    background-color: lightcoral;
}

.ul_menuBar li {
    width: 100%;
    list-style-type: none;
    display: inline-block;
    position: relative;
}

.ul_menuBar a {
    height: 100%;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: block;
    pointer-events: auto;
    transition: 200ms;
}

.ul_menuBar a:hover {
    background-color: darkred;
    color: white;
}

.ul_menuBar ul {
    width: 100%;
    padding: 0;
    position: absolute;
    display: none;
}

.ul_menuBar > li {
    border-left: 1px solid white;
}
.ul_menuBar > li:last-child {
    border-right: 1px solid white;
}

.ul_menuBar li li {
    border-top: 1px solid white;
}

.ul_menuBar ul ul {
    top: -1px;
    left: 100%;
    border-left: 1px solid white;
}

.ul_menuBar li.has_child::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    width: 6px;
    height: 6px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: translateY(-50%) rotate(135deg);
}

.ul_menuBar li li.has_child::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    width: 6px;
    height: 6px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: translateY(-50%) rotate(45deg);
}

.menu_li_open {
    background-color: lightskyblue;
}

.menu_li_open_parent {
    background-color: steelblue;
}

.menu_li_close {
    background-color: lightcoral;
}

/*子情報を表示するiframe*/

/*
.iframe_child {
    --ifScale: 0.75;
    width: calc(300px/var(--ifScale));
    height: calc(200px/var(--ifScale));
    transform-origin: 0 0;
    transform: scale(var(--ifScale));
    margin-right: calc(-300px*(1 - var(--ifScale)));
    margin-bottom: calc(-200px*(1 - var(--ifScale)));
    transition: 200ms;
    transition-property: border, box-shadow;
}
*/

.div_ifch {
    width: 300px;
    height: 200px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    transition: 200ms;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.4);
}

.div_ifch:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.iframe_child {
    width: calc(100% / 0.75);
    height: calc(100% / 0.75);
    transform-origin: 0 0;
    transform: scale(0.75);
    transition: 200ms;
    transition-property: border;
}

.iframe_over {
    border: 3px solid red;
}

.iframe_out {
    border: 3px solid grey;
}

/*未読・既読ページ（見出しとページ背景）*/

body.unvisited {
    background-color: white;
}

h1.unvisited {
    border-bottom: 3px solid rgb(50, 50, 50);
}

body.visited {
    background-color: cornsilk;
}

h1.visited {
    color: blueviolet;
    border-bottom: 3px solid blueviolet;
    padding-left: 60px;
    background: url("https://nagai-mioka.github.io/SevensRules-forGlobal.github.io/img/icon_visited.svg") no-repeat;
}

/*要素の単なるデザイン*/
h1 {
    line-height: 50px;
}

* {
    color:rgb(50, 50, 50);
    box-sizing: border-box;
}

strong {
    color:rgb(20, 20, 20);
    position: relative;
}

strong::before {
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    top: 70%;
    left: 0;
    background: rgba(240, 128, 128, 0.5);
    z-index: -1;
}

p a {
    color: #005fff;
    transition: 200ms;
}

p a:hover {
    opacity: 0.6;
}

p a:visited {
    color: #9057FF;
}

dl {
    width: min(20em, 50%);
    margin-block: 0;
    padding: 0 1em 0 0.5em;
    float: left;
    border-left: 5px solid lightcoral;
}

dl:last-child {
    padding-right: 0;
}

dt {
    font-weight: bold;
    font-size: large;
}

dd {
    margin-inline-start: 1.5em;
    margin-bottom: 0.5em;
}

button {
    display: inline-block;
    margin-left: 10px;
    padding: 4px 30px;
    border: 3px solid rgb(50, 50, 50);
    border-radius: 100vh;
    background-color: white;
    font-size: large;
    font-weight: bold;
    transition: 200ms;
}

button:hover {
    color: white;
    background-color: rgb(50, 50, 50);
}