@charset "UTF-8";

/*画面全体の構成*/

html, body{
    height: 100%;
    vertical-align: top;
    margin: 0;
}

#div_full {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

#div_menu {
    height: auto;
}

div#top {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#title {
    margin: 10pt 20pt;
    display: inline-block;
    font-size: 2em;
    line-height: 50px;
    width: auto;
}

#div_contents {
    flex-grow: 1;
    height: 100%;
}

body.contents {
    padding: 10pt 20pt 10pt 20pt;
    height: fit-content;
    min-height: 100%;
}

#iframe_main {
    width: 100%;
    height: 100%;
    border: none;
}

/*ドロップダウンメニュー*/

ul.ul_menuBar {
    margin: 0;
    padding: 0 15px 0 15px;
    top: 50%;
    display: flex;
    background-color: mistyrose;
}

ul.ul_menuBar li {
    width: 100%;
    list-style-type: none;
    display: inline-block;
    position: relative;
    margin: 0;
    margin-block: 0;
    padding: 0;
    border: none;
    font-size: medium;
}

ul.ul_menuBar li a {
    height: 100%;
    line-height: 40px;
    text-align: center;
    color: rgb(40, 40, 40);
    text-decoration: none;
    font-weight: bold;
    display: block;
    pointer-events: auto;
    transition: 200ms;
}

ul.ul_menuBar li a:hover {
    background-color: darkred;
    color: white;
    opacity: 1;
}

ul.ul_menuBar ul {
    width: 100%;
    padding: 0;
    position: absolute;
    display: none;
}

ul.ul_menuBar > li {
    border-left: 1px solid white;
}
ul.ul_menuBar > li:last-child {
    border-right: 1px solid white;
}

ul.ul_menuBar li li {
    border-top: 1px solid white;
}

ul.ul_menuBar ul ul {
    top: -1px;
    left: 100%;
    border-left: 1px solid white;
}

ul.ul_menuBar li.has_child::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    width: 6px;
    height: 6px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: translateY(-50%) rotate(135deg);
}

ul.ul_menuBar li li.has_child::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    width: 6px;
    height: 6px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: translateY(-50%) rotate(45deg);
}

.menu_li_open {
    background-color: lightskyblue;
}

.menu_li_open_parent {
    background-color: cornflowerblue;
}

.menu_li_close {
    background-color: lightcoral;
}

/*子情報を表示するiframe*/
.div_ifch {
    width: calc(25% - 3pt);
    height: 45vh;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1.5vh 0;
    overflow: hidden;
    transition: 200ms;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.4);
}

.div_ifch:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.iframe_child {
    width: calc(100% / 0.75);
    height: calc(100% / 0.75);
    transform-origin: 0 0;
    transform: scale(0.75);
    transition: 200ms;
    transition-property: border;
}

.iframe_over {
    border: 3px solid dodgerblue;
}

.iframe_out {
    border: 3px solid lightgrey;
}

/*未読・既読ページ（見出しとページ背景）*/

body.unvisited {
    background-color: white;
}

h1.unvisited {
    border-bottom: 3px solid rgb(50, 50, 50);
}

body.visited {
    /*background-color: cornsilk;*/
    background-color: ivory;
}

h1.visited {
    color: blueviolet;
    border-bottom: 3px solid blueviolet;
    padding-left: 12vmin;
    background-image: url("/SevensRules-forGlobal.github.io/img/icon_visited.svg");
    background-repeat: no-repeat;
    background-size: 10vmin;
    background-position: left center;
}

/*ツールチップ*/
#tooltip {
    width: 300px;
    height: 200px;
    position: absolute;
    display: inline-block;
    top: 80%;
    left: 50%;
    transform: translate(-10%, 1em);
    padding: 8px;
    background-color: lightcoral;
    border-radius: 15px;
    opacity: 0.85;
    z-index: 10;
}

#tooltip::before {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 12px solid lightcoral;
    position: absolute;
    bottom: 99%;
    left: 50%;
    transform: translateX(calc(-50% - 120px));
}

 #tooltip iframe {
    pointer-events: none;
    width: calc(100% / 0.75);
    height: calc(100% / 0.75);
    transform-origin: top left;
    transform: scale(0.75);
    border: none;
 }

/*要素の単なるデザイン*/
* {
    color: rgb(40, 40, 40);
    box-sizing: border-box;
}

h1 {
    line-height: 10vmin;
    font-size: 8vmin;
}

p,
dd,
li,
figcaption {
    font-size: 3vmin;
}

h3 {
    font-size: 5vmin;
}

strong {
    color:rgb(15, 15, 15);
    background: linear-gradient(transparent 65%, rgba(240, 128, 128, 0.4) 0%);
}

span.red {
    color: crimson;
}

a {
    color: royalblue;
    transition: 200ms;
}

a:visited {
    color: darkorchid;
}

dl {
    /*width: min(20em, 50%);*/
    width: 50%;
    margin: 0 0 1em 0;
    padding: 0 1.5em 0 0.5em;
    float: left;
    border-left: 5px solid lightcoral;
}

dt {
    font-size: 4vmin;
    font-weight: bold;
}
dt.flag {
    font-size: 3vmin;
    padding-left: 4vmin;
    background-image: url("/SevensRules-forGlobal.github.io/img/icon_flag.svg");
    background-repeat: no-repeat;
    background-size: 3vmin;
    background-position: left center;
}

dd {
    margin-inline-start: 1.5em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

li {
    margin-block-end: 1em;
}

ol li {
    margin-block-end: 2em;
    padding-top: 1em;
    border-top: 2pt dashed lightcoral;
}

button {
    display: inline-block;
    margin-left: 10px;
    padding: 4px 30px;
    border: 3px solid rgb(40, 40, 40);
    border-radius: 100vh;
    background-color: white;
    font-size: large;
    font-weight: bold;
    transition: 200ms;
}

button:hover {
    color: white;
    background-color: rgb(40, 40, 40);
}

div.column {
    border: 2px solid lightcoral;
    border-radius: 20px;
    padding: 0em 1em 1em 1em;
    margin: 1.5em 0 2em 0;
}

div.column p {
    margin-inline-start: 1.5em;
}

div.imgfig {
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

figure {
    display: inline-flex;
    flex-flow: column;
    text-align: center;
    max-width: 100%;
    width: fit-content;
    margin: 0;
    padding: 5px;
    border: 1px solid gray;
    background-color: white;
}

.imgfig img {
    max-width: 100%;
    width: 300px;
    max-height: 100%;
    height: auto;
}

figcaption {
    background-color: rgb(40, 40, 40);
    color: white;
    font-weight: bold;
    text-align: center;
}